*{
    box-sizing: border-box;
    margin:0;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(217, 186, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.calender{
    width: 60rem;
    height: 35em;
    background-color: rgb(255, 255, 255);
    display: flex; 
    border-radius: 15px;
    box-shadow: 5px 5px 12px rgba(0,0,0,.5),-5px -5px 10px rgba(0,0,0,0.1);
}
/* calender left side styling */
.calender-left{
    width:60%;
    /* background-color: rgb(234, 241, 243); */
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    
}

.month{
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
}
.prev-arrow,.next-arrow{
    font-size:1.5rem;
    cursor: pointer;
    transition: ease-in-out .3s ;
    color: rgb(238, 92, 92);
}
#title{
    color: rgb(238, 92, 92);
    transition: ease-in-out .3s;
    cursor: pointer;
}
#title:hover{
    font-size: 1.6em;
}
.arrow:hover{
    font-size: 1.7em;
}

.week-days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    column-gap: 2rem;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    place-items: center;
}
.dates > div{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    
}
#today-date{
    background:rgb(238, 92, 92) ;
    color: aliceblue;
    border-radius: 50%;
}

/* calender right side styling */
.calender-right{
    width:40%;
    background-color: rgb(238, 92, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    color: white;
    gap:1rem;
    padding: 3rem 0;
    border-radius: 0px 15px 15px 0px;
}
.day-title{
    font-size: 1.5rem;
}
.date-title{
    font-size: 10rem;;
}
.month-title{
    font-size: 3rem;
}
#reminder{
    border-bottom: 4px solid rgb(209, 76, 24);
}